
/*variables & mixins*/
@white: #FFFFFF;
@ltGrey: #EFEFEF;
@mdGrey: #C0C0C0;
@dkGrey: #CCCCCC;
@secondary:#2875C7;
@dkSecondary: darken(@secondary,10%);
@ltSecondary: lighten(@secondary,45%);
@borderColor: @dkGrey;
@background: @white;

.vertical-center {
  display: flex;
  justify-content:center;
  align-items: center;
}

html {
    font-size: 72.5%;
}

body {
    background: @ltGrey;
}

.row {
    display: flex;
    width: 100%;
}
